@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat&family=Raleway&family=Righteous&family=Roboto&display=swap');

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serk
}

html {
    width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 527px) {
    .discover-all-models {
        width: 80%;
        font-size: 40px;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:528px) and (max-width: 1600px) {
    .discover-all-models {
        margin: 50px 0;
        margin-right: 50px;
        margin-left: 130px;
        font-size: 50px;
        font-weight: 800;
    }
    footer {
        width: 100%;
        color: #000;
        height: 80px;
    }
}

@media screen and (min-width:1601px) and (max-width: 3000px) {
    .discover-all-models {
        margin: 60px 0;
        margin-right: 50px;
        margin-left: 180px;
        font-size: 50px;
        font-weight: 800;
    }
}